body {
	margin-left: auto;
	margin-right: auto;
	font-family: georgia;
	background: #AA1D23
}

header {
	background: #AA1D23;
	color: black;
	padding: 20px;
	text-align: center;
	width: 100%;
}

header h1 {
	color: black;
}

header h1 a:link {
	text-decoration: none;
	color: black;
}

header h1 a:visited {
	text-decoration: none;
	color: black;
}

header h1 a:hover {
	text-decoration: none;
	color: black;
}

header h1 a:active {
	text-decoration: none;
	color: black;
}

nav ul {
	margin: 0;
	display: ;
}

nav ul li {
	background: none;
	color: #ff5c5c;
	display: inline-block;
	list-style-type: none;
	text-align: center;
	padding: 5px 15px;
	margin: 0;
}

p {
	background: none;
	color: black;
	width: 600px;
	padding: 10px;
}

a:link {
	text-decoration: none;
	color: #ff5c5c;
}

a:visited {
	text-decoration: none;
	color: #ffff5c;
}

a:hover {
	text-decoration: none;
	color: #5c5cff;
}

a:active {
	text-decoration: none;
	color: #ff5c5c;
}

hr {
	width: 80%;
	height: 8px;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	border: none;
	margin-top: 100px;
	margin-bottom:100px;
}

.incline-line {
        width: 80%;
        margin: auto;
        margin-top: 5%;
        margin-bottom: 5%;
        transform: rotate(7deg);
	border-color: black;
}

footer {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	background: black;
	text-align: center;
	padding: 15px
}
