body {
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	background-image: url("https://i.pinimg.com/originals/ab/f9/46/abf946c233dc3f32ae6039d20ae8081a.jpg");
	background-repeat: repeat-x;
	font-family: georgia;
}

header {
	background: none;
	color: black;
	padding: 20px;
	text-align: center;
}

header h1 {
	color: black;
}

header h1 a:link {
	text-decoration: none;
	color: black;
}

header h1 a:visited {
	text-decoration: none;
	color: black;
}

header h1 a:hover {
	text-decoration: none;
	color: black;
}

header h1 a:active {
	text-decoration: none;
	color: black;
}

nav ul {
	margin: 0;
	display: ;
}

nav ul li {
	background: none;
	color: #ff5c5c;
	display: inline-block;
	list-style-type: none;
	text-align: center;
	padding: 5px 15px;
	margin: 0;
}

p {
	background: none;
	color: black;
	padding: 10px;
}

a:link {
	text-decoration: none;
	color: #ff5c5c;
}

a:visited {
	text-decoration: none;
	color: #ffff5c;
}

a:hover {
	text-decoration: none;
	color: #5c5cff;
}

a:active {
	text-decoration: none;
	color: #ff5c5c;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	color: white;
	background: black;
	text-align: center;
	padding: 10px;
}
